<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- 静态资源 -->
	<mvc:resources mapping="/images/**" location="/images/" /> 
	<mvc:resources mapping="/css/**" location="/css/" /> 
	<mvc:resources mapping="/js/**" location="/js/" /> 
	<mvc:resources mapping="/*.html" location="/" />
	
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"       
        destroy-method="close">       
    <property name="driverClassName" value="com.mysql.jdbc.Driver" />      
    <property name="url" value="jdbc:mysql://localhost:3306/car" />      
    <property name="username" value="root" />      
    <property name="password" value="123456" />      
	</bean>  
	
	<!-- 配置sessionfactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>com/iver99/vo/LicensePlateInfo.hbm.xml</value>
				<value>com/iver99/vo/PersonInfo.hbm.xml</value>
				<value>com/iver99/vo/User.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.MySQLDialect</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- handlerMapping -->
	<bean id="urlMapping"
		class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		<property name="mappings">
			<props>
				<prop key="/login.do">loginController</prop>
				<prop key="/uploadPicture.do">uploadPictureController</prop>
				<prop key="/gray.do">grayController</prop>
				<prop key="/sobel.do">sobelController</prop>
				<prop key="/binary.do">binaryController</prop>
				<prop key="/originalPicture.do">originalPictureController</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- 下面是视图解析器 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- controller -->
	<bean name="loginController" class="com.iver99.controller.LoginController">
		<property name="successView" value="album"/>
		<property name="failView" value="index"/>
	</bean>
	<bean name="uploadPictureController" class="com.iver99.controller.UploadPictureController">
		<property name="successView" value="showpicture"/>
		<property name="failView" value="uploadPicture"/>
	</bean>
	<bean name="binaryController" class="com.iver99.controller.BinaryController">
		<property name="successView" value="showpicture"/>
		<property name="failView" value=""/>
	</bean>
	<bean name="grayController" class="com.iver99.controller.GrayController">
		<property name="successView" value="showpicture"/>
		<property name="failView" value=""/>
	</bean>
	<bean name="sobelController" class="com.iver99.controller.SobelController">
		<property name="successView" value="showpicture"/>
		<property name="failView" value=""/>
	</bean>
	<bean name="originalPictureController" class="com.iver99.controller.OriginalPictureController">
		<property name="successView" value="showpicture"/>
		<property name="failView" value=""/>
	</bean> 
	
	<!-- 配置spring文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		  <property name="defaultEncoding" value="utf-8" />
	     <!--  <property name="maxUploadSize" value="3048576" /> -->
	     <!--  <property name="maxInMemorySize" value="40960" /> -->
	</bean>
	<!-- 需要配合异常？ -->
	
	<!--  HibernateTemplate -->
	<bean id="hibernateTemplateFactory" class="com.iver99.util.HibernateTemplateFactory">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- Dao Bean -->
	<bean id="loginDao" class="com.iver99.dao.impl.LoginDaoImpl"/>
	<bean id="uploadPictureDao" class="com.iver99.dao.impl.UploadPictureDaoImpl"/>
	<bean id="grayDao" class="com.iver99.dao.impl.GrayDaoImpl"/>
	<bean id="binaryDao" class="com.iver99.dao.impl.BinaryDaoImpl"/>
	<bean id="sobelDao" class="com.iver99.dao.impl.SobelDaoImpl">
		<constructor-arg  index="0" >
			<value>50</value>
		</constructor-arg>
	</bean>
	
	
	<!-- Service Bean -->
	<bean id="loginService" class="com.iver99.biz.impl.LoginServiceImpl"/>
	<bean id="uploadPictureService" class="com.iver99.biz.impl.UploadPictureServiceImpl"/>
	<bean id="grayService" class="com.iver99.biz.impl.GrayServiceImpl"/>
	<bean id="binaryService" class="com.iver99.biz.impl.BinaryServiceImpl"/>
	<bean id="sobelService" class="com.iver99.biz.impl.SobelServiceImpl"/>
		
	
	
	
	<!-- vo Bean -->
	<bean id="user" class="com.iver99.vo.User"></bean>
	<bean id="licensePlateInfo" class="com.iver99.vo.LicensePlateInfo"></bean>
	<bean id="personInfo" class="com.iver99.vo.PersonInfo"></bean>
	
</beans>